.backgroundColor {
    -fx-background-color: linear-gradient(to right, #000000, #434343);
}

.rotate90 {
    -fx-rotate: 90;
}

.rotate180{
    -fx-rotate: 180;
}

.rotate270{
    -fx-rotate: 270;
}

.backgroundDeck1 {
    -fx-background-color: rgba(255, 255, 255, .7);
    -fx-background-radius: 15;
}

.fontColor {
}

.buttonColor {
    -fx-background-radius: 15;
    -fx-background-color: #0892d0;
}
